# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Robert\OneDrive\BCIT-Game-Dev\Term 1\COMP 7082 Software Engineering\Project\FoodManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
